<h1>Edit Work flow member</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.work_flow_member_path(@conn, :update, @work_flow_member)) %>

<span><%= link "Back", to: Routes.work_flow_member_path(@conn, :index) %></span>
