<h1>Edit Fcube req res</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.fcube_req_res_path(@conn, :update, @fcube_req_res)) %>

<span><%= link "Back", to: Routes.fcube_req_res_path(@conn, :index) %></span>
