<h1>Edit Work flow</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.work_flow_path(@conn, :update, @work_flow)) %>

<span><%= link "Back", to: Routes.work_flow_path(@conn, :index) %></span>
