<h1>New End of day entry</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.end_of_day_entry_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.end_of_day_entry_path(@conn, :index) %></span>
